
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.row{
    width: 100%;

}


a:active {
    text-decoration: none;
}


.div-ul {
    background-color: rgb(206, 138, 10);
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.ul2 {
    width: 1460px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logoImg {
    width: 100px;
    height: 100px;
}

.teksti {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    decoration: none;
}

.teksti ul, .teksti ul li {
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
}


.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="text"] {
    border: none;
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

.login-button {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
}

.gaming, .smartphones, .tv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    max-width: 1500px;
}

.gaming img, .smartphones img, .tv img {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 300px;
    margin: 25px;
    object-fit: contain;
}

.img1 {
    width: 350px;
    background-color: white;
    margin-bottom: 25px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gamingp, .smartphonesp, .tvp {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(237, 237, 237);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none; 
    color: white; 
    padding: 5px; 
    margin: 0 10px; 
    border-radius: 5px; 
    transition: color 0.3s, background-color 0.3s; 
}

a:hover {
    color: black; 
    background-color: #f0f0f0; 
}

.promotion-item {
    margin: 20px;
    text-align: center;
}

.promotion-item img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer .social-media a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.carousel img {
    width: 10%;
    height: 400px;
    }

    #signout{
    margin-left: 600px;
    }

    #fotoja{
        width: 900px;
    }



@media screen and (max-width: 768px) {
    .header, .searchBox, .navigation ul {
        flex-direction: column;
        align-items: stretch;
    }

    .navigation ul li {
        margin: 0 10px;
    }
}

