
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}




header {
    background-color: orange;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}


.category-overview {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f7f7f7;
}

.category {
    text-align: center;
}

.category a {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
.featured-products {
    padding: 20px;
}


.promotions {
    background-color: #fffbe6;
    padding: 20px;
}


.testimonials {
    padding: 20px;
    background-color: #f7f7f7;
}

.newsletter {
    background-color: #fffbe6;
    padding: 20px;
    text-align: center;
}

.newsletter input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.newsletter button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer .social-media {
    margin-top: 20px;
}

.login-button {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
}


.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ddd; 
    background-color: #f7f7f7; 
    padding: 5px 10px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-right: 10px; /
}

.search-bar input[type="text"] {
    border: none; 
    padding: 5px; 
    margin-right: 5px; 
    border-radius: 3px; 
}

.search-bar .login-button {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.category {
    position: relative;
    text-align: center;
}

.category img {
    width: 300px;
    height: 200px;
    transition: opacity 0.3s ease;
    object-fit: contain;
    background-color: #f7f7f7;
}

.category-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category:hover .category-info {
    visibility: visible;
    opacity: 1;
}

.category:hover img {
    opacity: 0.3; 
}
